@model GetApproverByID_Response

@{
    ViewData["Title"] = "Delete";
}

<div class="row justify-content-center p-5">
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-header bg-danger text-white">
                <h6>Are you sure you want to delete this?</h6>
            </div>
            <div class="card-body">

                <div class="row">
                    <strong class="col-sm-6"> 
                        Employee
                    </strong>
                    <small class="col-sm-6">
                        @Html.DisplayFor(model => model.Result.FullName)
                    </small>
                    <strong class="col-sm-6">
                        Employee No.
                    </strong>
                    <small class="col-sm-6">
                        @Html.DisplayFor(model => model.Result.EmployeeNumber)
                    </small>
                    <strong class="col-sm-6">
                        Email
                    </strong>
                    <small class="col-sm-6">
                        @Html.DisplayFor(model => model.Result.CompanyEmail)
                    </small>
                    <strong class="col-sm-6">
                       Request Type
                    </strong>
                    <small class="col-sm-6">
                        @Model.Result.TypeOfRequest.ToString().SplitCamelCase()
                    </small>
                   
                    <strong class="col-sm-6">
                        @Html.DisplayNameFor(model => model.Result.IsActive)
                    </strong>
                    <small class="col-sm-6">
                        @Html.DisplayFor(model => model.Result.IsActive)
                    </small>

                </div>
                <hr />
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Result.ApproverID" />
                    <div class="form-group">
                        <div class="btn-group btn-block" role="group" aria-label="Basic example">
                            <input type="submit" value="Remove" class="btn btn-outline-danger" />
                            <a class="btn btn-secondary" asp-action="Index">Back</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
