
@model UpdateApproverViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="row justify-content-center p-5">
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-header bg-success  text-center">
                <h6 class="card-title text-white">Edit Approver</h6>
            </div>
            <div class="card-body">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ApproverID" value="@Model.ApproverID" />
                    <div class="form-group">
                        <label class="control-label">Employee</label>
                        <input type="text" class="form-control" value="@ViewBag.Name" readonly />
                    </div>
                    <div class="form-group">
                        <label asp-for="TypeOfRequest" class="control-label"></label>
                        <select asp-for="TypeOfRequest" class="form-control">
                            <option value="@domain.RequestType.CertificateOfAttendance">Certificate of Attendance</option>
                            <option value="@domain.RequestType.Leave">Leave</option>
                            <option value="@domain.RequestType.OfficialBusiness">Official Business</option>
                            <option value="@domain.RequestType.Overtime">Overtime</option>
                            <option value="@domain.RequestType.ScheduleAdjustment">Schedule Adjustment</option>
                            <option value="@domain.RequestType.Undertime">Undertime</option>
                        </select>
                        <span asp-validation-for="TypeOfRequest" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Level" class="control-label"></label>
                        <select asp-for="Level" class="form-control">
                            <option value="@((int)domain.ApproverTypeEnum.FirstLevelApprover)">First Level Approver</option>
                            <option value="@((int)domain.ApproverTypeEnum.SecondLevelApprover)">Second Level Approver</option>
                            <option value="@((int)domain.ApproverTypeEnum.ThirdLevelApprover)">Third Level Approver</option>
                            <option value="@((int)domain.ApproverTypeEnum.FinalApprover)">Final Approver</option>
                        </select>
                        <span asp-validation-for="Level" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                        </label>
                    </div>

                    <div class="form-group">
                        <div class="btn-group btn-block" role="group" aria-label="Basic example">
                            <input type="submit" value="Update" class="btn btn-outline-success" />
                            <a class="btn btn-outline-secondary" asp-action="Index">Back</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
