@model ICollection<GetOverTimeRequestsResponseDto>;

@{
    ViewData["Title"] = "_PendingOTApproverView";

}


<div class="card shadow">
    <div class="card-header bg-gradient-info text-white">
        <h6>Request - Pending Your Approval</h6>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Employee
                    </th>
                    <th>
                        Shift Date
                    </th>
                    <th>
                        Time Start
                    </th>
                    <th>
                        Time End
                    </th>
                    <th>
                        Classification
                    </th>

                    <th>
                        Purpose
                    </th>
                    <th>
                        Approved Level 1
                    </th>
                    <th>
                        Approved Level 2
                    </th>
                    <th>
                        Last Updated
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Where(i => i.CurrentApprover == User.Identity.Name.ToLower()))
                {
                <tr>
                    <td>@item.Requestor</td>
                    <td>
                        @item.ShiftDate.ToString("MMM dd yyyy")
                    </td>
                    <td>
                        @item.TimeStart.ToString("HH:mm tt")
                    </td>
                    <td>
                        @item.TimeEnd.ToString("HH:mm tt")
                    </td>
                    <td>
                        @item.Classification
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Purpose)
                    </td>
                    <td>
                        <small>@($"{item.Approver1}")</small> <strong> - @item.ApprovalStatusText1</strong>
                    </td>
                    <td>
                        <small>@($"{item.Approver2}")</small> <strong> - @item.ApprovalStatusText2</strong>
                    </td>
                    <td>@item.LastUpdated.ToString("MMM dd yyyy HH:mm tt")</td>


                    <td class="btn-group float-right">
                        <a class="btn btn-outline-info" asp-action="Edit" asp-route-id="@item.EmployeeID" title="Review"><i class="fas fa-vote-yea"></i></a>
                    </td>
                </tr>
                }
            </tbody>
        </table>

    </div>
</div>
