@model WebApplication1.Models.Biologs.DailyTimeRecordRequestViewModel

@{
    ViewData["Title"] = "DailyTimeRecord";
    var employeeID = ViewData["EmployeeID"];

    var records = ViewData["DTR"] as ICollection<WebApplication1.Models.Biologs.DailyTimeRecordResponseViewModel>;
}


<div class="card">
    <div class="card-header bg-gradient-info text-white">
       <h6>@ViewBag.FullName</h6>
        
    </div>
    <div class="card-body shadow">
        <form asp-action="DailyTimeRecord" class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-md-5 col-sm-12 order-0">
                <input type="date" asp-for="Date1" class="form-control" />
                <span asp-validation-for="Date1" class="text-danger"></span>
            </div>
            <div class="form-group col-md-5 col-sm-12 order-1">
                <input type="date" asp-for="Date2" class="form-control" />
                <span asp-validation-for="Date2" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="EmployeeID" value="@ViewData["EmployeeID"]" />
            <input type="hidden" asp-for="EmployeeNumber" value="@ViewData["FullName"]" />
            <div class="form-group col-md-2 col-sm-12 order-2">
                <input type="submit" value="Search" class="btn btn-block btn-sm btn-outline-success" />
            </div>
        </form>
        <hr />
        @if (records.Count() == 0)
        {
            <div class="text-center">
                <p class="">Nothing here.</p>
            </div>
        }
        else
        {
            <table class="table table-striped table-borderless" id="dtr">
                <thead>
                    <tr>
                        <th>
                            Employee Number
                        </th>
                        <th>
                            Full Name
                        </th>
                        <th>
                            Log Time
                        </th>
                        <th>
                            In / Out Mode
                        </th>
                        <th>
                            Location
                        </th>
                       
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in records)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.EmployeeNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td>
                                @item.Time
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Mode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Location)
                            </td>
                           
                            <td>
                             </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        <div class="card-footer">
            <small>@DateTime.Now</small>
        </div>
    </div>
</div>

