@model WebApplication1.Models.Biologs.DailyTimeRecordRequestViewModel

@{
    ViewData["Title"] = "DailyTimeRecord";
    var records = ViewData["DTR"] as ICollection<WebApplication1.Models.Biologs.DailyTimeRecordResponseViewModel>;
}

<p>
    <a class="btn btn-sm btn-outline-success" asp-action="Create">Create New</a>
</p>
<div class="card">
    <div class="card-header bg-success text-white">
        <h6>DTR Logs</h6>
    </div>
    <div class="card-body">
        <form asp-action="DailyTimeRecord" class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-md-5 col-sm-12 order-0">
                <input type="date" asp-for="Date1"  class="form-control" />
                <span asp-validation-for="Date1"   class="text-danger"></span>

              
            </div>
            <div class="form-group col-md-5 col-sm-12 order-1">
                <input type="date" asp-for="Date2" class="form-control" />
                <span asp-validation-for="Date2" class="text-danger"></span>
            </div>
            <div class="form-group col-md-2 col-sm-12 order-2">
                <input type="submit" value="Search" class="btn btn-block btn-sm btn-outline-success" />
            </div>
        </form>
            <table class="table table-striped table-borderless">
                <thead>
                    <tr>
                        <th>
                            Employee Number
                        </th>
                        <th>
                            Full Name
                        </th>
                        <th>
                            Log Time
                        </th>
                        <th>
                            In / Out Mode
                        </th>
                        <th>
                            Latitude
                        </th>
                        <th>
                            Longitude
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in records)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.EmployeeNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td>
                                @item.Time
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Mode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Lat)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Long)
                            </td>
                            <td>
                                @*<a asp-action="Edit" asp-route-id="@item.EmployeeID">Update</a> |
                                <a asp-action="Delete" asp-route-id="@item.EmployeeID">Remove</a>*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
    </div>
</div>

